root {
  max-width: 1280px;
  margin: 0 auto;
  /* background-color: #f0f0f0; */
  background-color: #E6DADA;  /* fallback for old browsers */
}

* { 
  font-family: 'Trebuchet MS';
}

.card {
  padding: 1em;
}
